services:
  server:
    build: ./server
    container_name: sangtamizh-server
    ports:
      - "3000:3000"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/sangtamizh
      - PORT=3000
    volumes:
      - ./server:/app
      - /app/node_modules
      - ./server/uploads:/app/uploads
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:latest
    container_name: sangtamizh-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: sangtamizh-client
    ports:
      - "5173:5173"
    environment:
      - VITE_API_TARGET=http://server:3000
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
